<!--Header portion-->
<div class="ej-preview-header">
  <div class="ej-preview-left-side">
    <a href="/demos/angular/" target="_blank">
      <div class="ej-preview-platform-name">Bold Reports for Angular</div>
    </a>
  </div>
  <div class="ej-preview-right-side">
    <a href="https://documentation.boldreports.com" title="Documentation" target="_blank"><span
        class="ej-preview-header-icons preview-icon-documentation"></span></a>
    <a href="https://www.boldreports.com" target="_blank" title="Product Details"><span
        class="ej-preview-header-icons preview-icon-product"></span></a>
    <a href="https://www.boldreports.com/pricing/on-premise/" target="_blank" title="Download Now"><span
        class="ej-preview-header-icons preview-icon-download"></span></a>
    <div class="ej-preview-divider"></div>
    <a class="ej-preview-button" href="https://on-premise-demo.boldreports.com" title="Report Server"
      target="_blank">Explore Report Server</a>
  </div>
</div>
<div class="ej-preview-content">
  <router-outlet></router-outlet>
</div>