<!--Header portion-->
<div class="ej-preview-header">
  <div class="ej-preview-left-side">
    <a href="{{homePageUrl}}" target="_blank" rel="noreferrer">
      <h1 class="ej-preview-platform-name">Bold Reports for Angular</h1>
    </a>
  </div>
  <div class="ej-preview-right-side">
    <!-- We hided this element as per management instruction -->
    <!-- <a class="ej-preview-button bold-schedule-demo" href="https://www.boldreports.com/schedule-free-demo" title="Report Server"
      target="_blank" rel="noreferrer">Schedule Free Demo</a> -->
    <a class="ej-preview-button nav-link product-detail" href="{{productDetailURL}}"  target="_blank" rel="noreferrer">Product Detail</a>
    <a class="ej-preview-button try-it-free" href="https://app.boldid.net/reporting/embedded/register?plan=174&evaluation=v2&leadsource=demos.boldreports.com&gclid=&referrerroriginurl=https://demos.boldreports.com/pricing&secondaryreferraloriginurl=https://demos.boldreports.com/&host=server&quantity=1" title="Report Server"
      target="_blank" rel="noreferrer">Try it Free</a>
  </div>
</div>
<div class="ej-preview-content">
  <router-outlet></router-outlet>
</div>
