<div class="ej-sidebar-content">
  <div class="ej-sb-home ej-sb-icons" (click)="onHomeClick()">
    <span class="ej-sb-home-text">Home</span>

  </div>
  <div class="ej-sb-toc" #toc>
    <div *ngFor="let sample of samples; let i = index" #toc class="ej-sb-toc-card" tabindex="-1"
      [ngClass]="(sample.routerPath === selectedPath) ? tocSelection(toc) : ''" (mousedown)="onSampleClick(sample)">
      <div [ngClass]="sample.imageDetails.isLandscape ? 'ej-landscape-img' : 'ej-portrait-img'"
        [style.background-position-y]="getVerticalPosition(sample)">
      </div>
      <div class="ej-sb-toc-title">{{sample.sampleName}}</div>
      <span
        *ngIf="(sample.status && (sample.status.toUpperCase() == 'UPDATED' || sample.status.toUpperCase() == 'NEW') ) ? true : false"
        [ngClass]="[sample.imageDetails.isLandscape ? 'ej-landscape' : 'ej-portrait']"
        class="ej-status-label ej-{{sample.status.toLowerCase()}}">
        {{sample.status}}
      </span>
    </div>
  </div>
</div>