<div class="ej-main-body-content">
  <div>
    <h1 class="ej-title" #title></h1>
    <p class="ej-meta-description" #metaDescription></p>
    <div id="parentTabContainer">
      <ul class="nav ej-nav-header" id="parentTab" role="tablist">
        <li class="ej-nav-item" #demoTab>
          <a href="#demo" data-toggle="tab" role="tab" aria-selected="true">
            <Span class="ej-sb-icons ej-demo-icon"></Span><Span>DEMO</Span>
          </a>
        </li>
        <li class="ej-nav-item" #sourceTab>
          <a href="#source" data-toggle="tab" role="tab" aria-selected="false">
            <Span class="ej-sb-icons ej-source-icon"></Span><Span>SOURCE</Span>
          </a>
        </li>
        <!-- <li class="ej-nav-item" #descTab>
          <a href="#ej-description" data-toggle="tab" role="tab" aria-selected="false">
            <Span class="ej-sb-icons ej-description-icon"></Span><Span>Description</Span>
          </a>
        </li>
        -->
        <li class="ej-nav ej-nav-item ej-sb-icons">
          <div class="new-tab ej-nav-sub-item">
            <div class="ej-nav-new" title="Open in New Window" (click)="onTabBtnClick()" tabindex="0"></div>
          </div>
          <div class="ej-nav-prev ej-nav-sub-item" title="Previous Sample" (click)="onTabPrev()" tabindex="0"></div>
          <div class="ej-nav-next ej-nav-sub-item" title="Next Sample" (click)="onTabNext()" tabindex="0"></div>
        </li>
      </ul>
      <div class="tab-content ej-tab-content" #tabContent id="parentTabContent">
        <div class="tab-pane ej-tab-pane" id="demo" role="tabpanel">
          <router-outlet></router-outlet>
        </div>
        <div class="tab-pane" id="source" role="tabpanel">
          <div id="childTabContainer">
            <div class="tab-content ej-tab-content" id="childTabContent">
              <div *ngFor="let data of sourceData; let first = first;" class="tab-pane ej-tab-pane"
                [ngClass]="first ? 'show active' : ''" id={{data.id}} role="tabpanel" [innerHtml]="data.body"></div>
            </div>
            <ul class="nav ej-nav-header" id="childtTab" role="tablist">
              <li *ngFor="let data of sourceData; let first = first;" class="ej-nav-item">
                <a [ngClass]="first ? 'active' : ''" href="#{{data.id}}" data-toggle="tab" role="tab"
                  aria-selected="first">{{data.name}}</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="tab-pane ej-tab-pane" id="ej-description" role="tabpanel" #description> 
        </div>
        -->
      </div>
    </div>
  </div>
  <!--Description section-->
  <div>
    <div class="tab-pane ej-tab-pane" id="ej-description" role="tabpanel" #description>
    </div>
  </div>

  <!--Banner section-->
  <div id="footer-banner">
    <div id="ad-banner-head" class="ad-header" #text></div>
    <div class="content-area" style="display: flex; flex-wrap: wrap;">
      <div class="ad-cnt-pt">
        <!-- <div class="ad-cnt-icon click-icon sb-icons sb-icon-icon-selection"></div> -->
        <span class="tick-mark"></span>
        <div class="cnt-text cnt-text-1" #features[0]></div>
      </div>
      <div class="ad-cnt-pt">
        <!-- <div class="ad-cnt-icon click-icon sb-icons sb-icon-icon-selection"></div> -->
        <span class="tick-mark"></span>
        <div class="cnt-text cnt-text-2" #features[1]></div>
      </div>
      <div class="ad-cnt-pt">
        <!-- <div class="ad-cnt-icon click-icon sb-icons sb-icon-icon-selection"></div> -->
        <span class="tick-mark"></span>
        <div class="cnt-text cnt-text-3" #features[2]></div>
      </div>
    </div>
    <a class="free-trial-url" target="_blank" #freeTrialUrl>
      <div class="free-trial">TRY IT FOR FREE</div>
    </a>
  </div>

  <!--Footer section-->
  <div class="ej-lp-footer">
    <div class="ej-lp-footer-links">
      <a href="https://help.boldreports.com/embedded-reporting/angular-reporting/" target="_blank">
        Documentation
      </a>
      <a href="https://www.boldreports.com/blog" target="_blank">
        Blog
      </a>
      <a href="https://www.boldreports.com/faq" target="_blank">
          FAQ
      </a>
      <a href="https://support.boldreports.com/" target="_blank">
          Support
      </a>
      <a href="https://www.boldreports.com/feedback" target="_blank">
          Feedback
      </a>
    </div>
    <div class="ej-lp-footer-copyright">Copyright © 2001-2022 Syncfusion Inc.</div>
  </div>
</div>